* {
    font-family: 'Be Vietnam Pro', sans-serif;
}
body {
	background: linear-gradient(-45deg, #fcfbee, #d1e9ce, #cceefc, #cbe9d4);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.left-section{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:128px;
    width: 60%;
}

.right-section{
    width:40%;
}

.content-wrapper{
    padding: 32px;
    display: flex;
    flex-direction: row;
}

.calculator-wrapper{
    background-color: lightslategrey;
    padding:16px;
    border-radius: 8px;
    margin: auto;
    width: fit-content;
}

.display-wrapper{
    align-items: center;
    background-color: #fcfbee;
    border-radius: 8px;
    display: flex;
    padding: 4px;
    margin:16px;
    height:64px;
    width:320px;
}
.display-wrapper  p{
    font-family: 'Source Code Pro', monospace;
    font-size: 2rem;
    font-weight: bold;
    margin:0px 16px;
    height: 40px;
    overflow: hidden;
    text-align: right;
    width: 100%;
}

.inputs-wrapper{
    margin:16px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.row{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin:16px;
}
.inputs-wrapper .row *{
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    height:64px;
    transition: all .1s ease-in-out;
    width:64px;
}
.clear-row{
	justify-content: flex-end;
}

#clear-button{
	margin-right: 4px;
	width: 144px;
}

.row button:hover{
    cursor: pointer;
    transform:scale(1.05) ;
}

.inputs-wrapper .row button:active{
	transform: translateY(4px);
}







/*

    Everything below this is just basic resets and 
    boilerplate, no need to worry about it!
    d–(^ ‿ ^ )z

*/







* { 
	box-sizing: border-box;
}
html, body {
	min-height: 100%;
	color: #000;
}
	/* sets the body height of the browser, so that backgrounds and div heights work correctly. Color and background will almost certainly be altered; they are just placeholders */
	
body {
	font-size: 1.2rem;
	text-rendering: optimizeLegibility;
}
	/* sets the base font size for the document; turns on kerning pairs and ligatures */
	
body, ul, ol, dl {
	margin: 0;
}
article, aside, audio, 
footer, header, nav, section, video {
	display: block; 
	}
	
	/* ensures that older browsers will display HTML5 elements correctly */
	
p { 
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
} 
	/* sets hyphenation by default on paragraphs */
	
textarea { 
	resize: vertical;
}
 /* changes textarea resizing from "both" (UA default) to vertical only */
 
table { border-collapse: collapse; }
td {
	padding: .5rem;
}
	/* causes tables to actually look like tables */
	
img { 
	border: none;
	max-width: 100%;
}
	/* removes outlines from linked images (for older browsers and IE), sets up images for responsive design layout */
	
input[type="submit"]::-moz-focus-inner, 
	input[type="button"]::-moz-focus-inner {
		border : 0px;
	}
	/* removes the inner border effect from focused buttons for form elements in Firefox */
	
input[type="search"] { 
	-webkit-appearance: textfield;
} 
input[type="submit"] { 
	-webkit-appearance:none;
}
	/* removes the OS X appearance from HTML5 search inputs and submit buttons when viewed in Safari */
	
input:required:after {
	color: #f00;
	content: " *";
}
	/* sets up required form fields with the conventional following red asterix */
input[type="email"]:invalid { 
	background: #f00;
}
	/* causes a visual alert in browsers that do client-side checking of HTML5 email field – this may already be the default in some browsers. */
	
.right { 
	float: right;
	margin-left: 2rem;
	clear: right;
}
.left { 
	float: left;
	margin-right: 2rem;
	clear: left;
}
	/* allows a quick shortcut for floating elements left and right while avoiding the “float quirk” problem */
	
sub, sup { 
	line-height: 0;
}