* {
    font-family: 'Be Vietnam Pro', sans-serif;
}
body {
	background: #DBE4EE;
	background-size: 100% 100%;
}

.content-wrapper{
	display: flex;
	height: 100%;
	flex-direction: column-reverse;
	margin:0;
	z-index: 2;
}
.content-wrapper section{
	align-items:baseline;
	display:flex;
	height:100%;
	justify-content: center;
	width:100%;
}

.content-wrapper .right-section{
	padding: 64px 0px 0px 0px;
}

/* Content wrappers */

.calculator-wrapper{
	height: 70vh;
}

.content-wrapper section div{
	background-color: #DBE4EE;
	border-radius: 8px;
	flex-direction: column;
	position: relative;
}

.inputs-wrapper{
	display:flex;
	flex-direction: column;
	justify-content: space-around;
}

/* Display */

.calculator-wrapper .display-wrapper{
	align-items: center;
	background-color: #D64045;
	border-radius: 8px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 20px 20px -12px inset, rgba(0, 0, 0, 0.3) 0px 8px 36px -18px inset;
	color: #FFF;
	display: flex;
	justify-content: center;
	height: 64px;
	margin: 16px;
	overflow: hidden;
}

.display-wrapper p{
	font-family: 'Source Code Pro', monospace;
	font-weight: bold;
	margin: 0;
	padding: 0px 16px;
	text-align: right;
	text-overflow: clip;
	white-space: nowrap;
	width: 100%;
}

.display-wrapper p.calculation-display-output{
	font-size: 1rem;
	height: 20px;
}

.display-wrapper p.display-output{
	font-size: 2rem;
	height: 40px;
}


/* Buttons - written to override some specificity in some places */

.row{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	margin:16px;
}
.inputs-wrapper .row *{
	border: none;
	border-radius: 4px;
	font-size: 1.2rem;
	height: 64px;
	margin: 8px;
	transition: all .1s ease-in-out;
	width: 64px;
}
.inputs-wrapper .clear-row{
	justify-content: flex-end;
}

.calculator-wrapper div div{
	flex-direction: row;
}


.row button{
	background-color: #DBE4EE;
	box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
	flex-direction: row;
}

.row button.operator, .row button#submit, .row button#decimal{
	background-color: #D64045;
	color: #FFF;
	font-weight: bold;
}

#clear-button{
	width: 144px;
}

.row button:hover{
	cursor: pointer;
	transform:scale(1.05);
}

.row button:not(.operator, #submit, #decimal):hover{
	background-color: #c6dcf5;
}

.row button:not(.number):hover,
	.row button#decimal:hover,
		.row button#submit:hover{
	background-color: #bd282d;
}

.inputs-wrapper .row button:active{
	transform: translateY(4px);
}


/* Paragraph description */

.left-section{
	padding: 64px;
}

/* Footer */
.bottom-area{
	display: flex;
	justify-content: space-around;
	margin: 64px;
	padding: 0px 0px 64px 0px;
}

.bottom-area div{
	align-items: center;
	display: flex;
}

.bottom-area div *{
	margin: 0 8px;
}

.description img{
	height: 48px;
	width: 48px;
}

.bottom-area svg{
	z-index: -1;
}

.error-message-wrapper{
	background: #c8d6e6;
	border-radius: 8px;
	color: #D64045;
	font-family: 'Source Code Pro', monospace;
	font-size: 1rem;
	font-weight: bold;
	opacity: 0;
	padding: 8px;
	position: absolute;
	right: 16px;
	top: 16px;
	transition-duration: 300ms;
}

.opaque{
	opacity: 1;
	transition-duration: 300ms;
}

.error-message-wrapper .error-message{
	margin: 0px;
}








/*

    Everything below this is just basic resets and 
    boilerplate, no need to worry about it!
    d–(^ ‿ ^ )z

*/







* { 
	box-sizing: border-box;
}
html, body {
	max-height: 100%;
	min-height: 100%;
	overflow: visible;
	color: #000;
}
* a{
	color: #3D86D9;
	transition-duration: .3s;
}
* a:hover{
	color: #054A91;
	transition-duration: .3s;
}
	/* sets the body height of the browser, so that backgrounds and div heights work correctly. Color and background will almost certainly be altered; they are just placeholders */
	
body {
	font-size: 1.2rem;
	text-rendering: optimizeLegibility;
}
	/* sets the base font size for the document; turns on kerning pairs and ligatures */
	
body, ul, ol, dl {
	margin: 0;
}
article, aside, audio, 
footer, header, nav, section, video {
	display: block; 
	}
	
	/* ensures that older browsers will display HTML5 elements correctly */
	
p { 
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-moz-hyphens: none;
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
} 
	/* sets hyphenation by default on paragraphs */
	
textarea { 
	resize: vertical;
}
 /* changes textarea resizing from "both" (UA default) to vertical only */
 
table { border-collapse: collapse; }
td {
	padding: .5rem;
}
	/* causes tables to actually look like tables */
	
img { 
	border: none;
	max-width: 100%;
}
	/* removes outlines from linked images (for older browsers and IE), sets up images for responsive design layout */
	
input[type="submit"]::-moz-focus-inner, 
	input[type="button"]::-moz-focus-inner {
		border : 0px;
	}
	/* removes the inner border effect from focused buttons for form elements in Firefox */

.right { 
	float: right;
	margin-left: 2rem;
	clear: right;
}
.left { 
	float: left;
	margin-right: 2rem;
	clear: left;
}
	/* allows a quick shortcut for floating elements left and right while avoiding the “float quirk” problem */
	
sub, sup { 
	line-height: 0;
}


/* mobile design layout */


@media only screen and (min-width: 800px) {
	body {
		background: linear-gradient(-45deg, #054A91, #3D86D9, #2F619C, #A5BDD9);
		background-size: 1000% 1000%;
		animation: gradient 15s ease infinite;
	}
	
	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}

	.content-wrapper{
		height: 100%;
		flex-direction: row;
		padding: 128px 5%;
		z-index: 2;
	}
	
	.content-wrapper section{
		padding: 0px !important;
		width: 50%;
	}

	.content-wrapper section div.calculator-wrapper,
	.content-wrapper section div.info-wrapper,
	.content-wrapper section div.three-dee{
		width: 400px;
	}

	.content-wrapper section div.three-dee{
		flex-direction: row;
	}
	
	.left-section .info-wrapper{
		align-items: center;
		border-radius: 8px;
		display: flex;
		height: 50%;
		justify-content: center;
		padding: 32px;
		z-index: 3;
	
		transform: perspective(1500px) rotateY(15deg);
		box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
	}

	.left-section div{
		transition-duration: 1s;
	}
	
	.left-section div.info-wrapper:hover{
		transform: perspective(1500px) rotateY(0deg);
		transition-duration: 1s;
	}

	.left-section div ul{
		padding-inline-start: 16px;
	}
	
	.right-section div{
		transition-duration: 1s;
	}
	
	.right-section div.calculator-wrapper:hover{
		transform: perspective(1500px) rotateY(0deg);
		transition-duration: 1s;
	}

	.inputs-wrapper .row{
		margin-top: 8px;
		margin-bottom: 8px;
	}
	
	.three-dee{
		background-color: #c8d6e6;
		border-radius: 8px;
		z-index: 2;
	}
	
	.left-section .three-dee{
		height: 540px;
		position: absolute;
		transform: perspective(1500px) rotateY(15deg) translate(-45px, -45px);
		  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
	}

	.right-section .three-dee{
		height: 600px;
		position: absolute;
		transform: perspective(1500px) rotateY(-15deg) translate(45px, -45px);
		  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
	}
	
	.calculator-wrapper{
		margin: 0;
		padding:16px;
		height: 624px;
		z-index: 3;
	
		transform: perspective(1500px) rotateY(-15deg);
		  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
	}
	
	.bottom-area{
		bottom: 0px;
		display: flex;
		margin: -25% 0 0 0;
		padding: 0px;
		position: absolute;
		width:100%;
		z-index: 0;
	}
	
	
	.description{
		bottom: calc(2.5vh + 2.5vw);
		margin-left: -30%;
		position: inherit;
		width: 500px;
		z-index:10;
	}
	.description *{
		margin: 8px;
	}
	
}

@media only screen and (max-width:800px) {
	.three-dee{
		display:none;
	}
	.bottom-area svg{
		display: none;
	}
}