* {
    font-family: 'Be Vietnam Pro', sans-serif;
}
body {
	background: linear-gradient(-45deg, #054A91, #3D86D9, #2F619C, #A5BDD9);
	background-size: 1000% 1000%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.content-wrapper{
    display: flex;
	height: 100%;
    flex-direction: row;
	overflow: hidden;
	padding: 128px 5%;
}
.content-wrapper section{
	align-items:baseline;
	display:flex;
	height:100%;
	justify-content: center;
	padding: 5% 24px;
    width: 50%;
}


.left-section div{
	transition-duration: 1s;
}

.left-section div.info-wrapper:hover{
	transform: perspective(1500px) rotateY(0deg) !important;
	transition-duration: 1s;
}

.left-section .info-wrapper{
	align-items: center;
	background-color: #DBE4EE;
	border-radius: 8px;
    display: flex;
    flex-direction: column;
	height: 394px;
    justify-content: center;
	padding: 32px;
	position: absolute;
	width: 475px;
	z-index: 2;

	transform: perspective(1500px) rotateY(15deg);
	box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}


.right-section div{
	transition-duration: 1s;
}

.right-section div.calculator-wrapper:hover{
	transform: perspective(1500px) rotateY(0deg) !important;
	transition-duration: 1s;
}

.three-dee{
	background-color: #c8d6e6;
	border-radius: 8px;
	position:absolute;
	z-index: 0;
}

.left-section .three-dee{
	height: 394px;
	width: 475px;
	transform: perspective(1500px) rotateY(15deg) translate(-45px, -45px);
  	box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.right-section .three-dee{
	height: 624px;
	width: 464px;
	transform: perspective(1500px) rotateY(-15deg) translate(45px, -45px);
  	box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.calculator-wrapper{
    background-color: #DBE4EE;
    padding:16px;
    border-radius: 8px;
	position: absolute;
    margin: auto;
    width: fit-content;
	z-index: 2;

	transform: perspective(1500px) rotateY(-15deg);
  	box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.display-wrapper{
    align-items: center;
    background-color: #DBE4EE;
    border-radius: 8px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 20px 20px -12px inset, rgba(0, 0, 0, 0.3) 0px 8px 36px -18px inset;
    display: flex;
    padding: 4px;
    margin:16px;
	overflow: hidden;
    height:64px;
	text-overflow: clip;
    width:400px;
}
.display-wrapper  p{
    font-family: 'Source Code Pro', monospace;
    font-size: 2rem;
    font-weight: bold;
    margin:0px 16px;
    height: 40px;
    text-align: right;
	text-overflow: clip;
	white-space: nowrap;
    width: 100%;
}

.inputs-wrapper{
    margin:16px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.row{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin:16px;
}
.inputs-wrapper .row *{
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    height:64px;
    transition: all .1s ease-in-out;
    width:64px;
}
.clear-row{
	justify-content: flex-end;
}

#clear-button{
	margin-right: 4px;
	width: 144px;
}
.row button{
	background-color: #DBE4EE;
	box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}

.row button.operator, .row button#submit, .row button#decimal{
	background-color: #D64045;
	color: #FFF;
	font-weight: bold;
}

.row button:hover{
    cursor: pointer;
    transform:scale(1.05);
}

.row button:not(.operator, #submit, #decimal):hover{
	background-color: rgba(129, 164, 205, 0.1);
}

.inputs-wrapper .row button:active{
	transform: translateY(4px);
}



.bottom-area{
	bottom:calc(10vh - 5vw);
	display: flex;
	position: absolute;
	transform: translateY(100px);
	padding:0px;
	width:100%;
	z-index: -1;
}







/*

    Everything below this is just basic resets and 
    boilerplate, no need to worry about it!
    d–(^ ‿ ^ )z

*/







* { 
	box-sizing: border-box;
}
html, body {
	max-height: 100%;
	min-height: 100%;
	overflow: hidden;
	color: #000;
}
* a{
	color: #3D86D9;
	transition-duration: .3s;
}
* a:hover{
	color: #054A91;
	transition-duration: .3s;
}
	/* sets the body height of the browser, so that backgrounds and div heights work correctly. Color and background will almost certainly be altered; they are just placeholders */
	
body {
	font-size: 1.2rem;
	text-rendering: optimizeLegibility;
}
	/* sets the base font size for the document; turns on kerning pairs and ligatures */
	
body, ul, ol, dl {
	margin: 0;
}
article, aside, audio, 
footer, header, nav, section, video {
	display: block; 
	}
	
	/* ensures that older browsers will display HTML5 elements correctly */
	
p { 
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-moz-hyphens: none;
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
} 
	/* sets hyphenation by default on paragraphs */
	
textarea { 
	resize: vertical;
}
 /* changes textarea resizing from "both" (UA default) to vertical only */
 
table { border-collapse: collapse; }
td {
	padding: .5rem;
}
	/* causes tables to actually look like tables */
	
img { 
	border: none;
	max-width: 100%;
}
	/* removes outlines from linked images (for older browsers and IE), sets up images for responsive design layout */
	
input[type="submit"]::-moz-focus-inner, 
	input[type="button"]::-moz-focus-inner {
		border : 0px;
	}
	/* removes the inner border effect from focused buttons for form elements in Firefox */

.right { 
	float: right;
	margin-left: 2rem;
	clear: right;
}
.left { 
	float: left;
	margin-right: 2rem;
	clear: left;
}
	/* allows a quick shortcut for floating elements left and right while avoiding the “float quirk” problem */
	
sub, sup { 
	line-height: 0;
}